@import url('./base.css');

footer.m-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    top: 0; 
    bottom: 0;
    left: 0;

    padding: 2rem;

    color: var(--text-primary); 
    background-color: var(--bg-primary);
    
    font-size: 0.7rem;
}

.m-footer-elm>*{
    margin-left: 1rem;
    margin-right: 1rem;

    transition: all var(--transition-speed) ease;

    color: var(--text-primary);
    border-color: var(--b-bg-primary);

    width: 40vh;
}

.m-footer-elm > *:hover {
	filter: grayscale(0%) opacity(1);
	color: var(--text-secondary);
}

/* .m-footer-elm:hover {
	filter: grayscale(0%) opacity(1);
	color: var(--text-secondary);
} */

@media only screen and (max-width: 600px) {
    footer.m-footer {
        padding-bottom: 8rem;
    }
}